<?xml version="1.0" encoding="UTF-8"?>
<plugin id="it.giuseppePlacanica.volumeListener"
        version="0.0.1">

  <name>Volume</name>

  <description>A plugin to listen the current device volumen.</description>
  <repo>https://github.com/GiuseppePlacanica/volume.git</repo>
  <keywords>cordova, volume,  ios, android</keywords>
  <license>MIT</license>

  <author>Giuseppe Placanica</author>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/volume.js" name="Volume">
    <clobbers target="plugin.volume" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Volume">
        <param name="ios-package" value="Volume" onload="true" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/Volume.h" />
    <source-file src="src/ios/Volume.m" />
  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Volume">
        <param name="android-package" value="it.giuseppePlacanica.volumeListener.Volume"/>
      </feature>
    </config-file>

    <source-file src="src/android/it/giuseppePlacanica/volumeListener/Volume.java" target-dir="src/android/it/giuseppePlacanica/volumeListener" />
  </platform>

</plugin>
